.more {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 0.50rem;
    text-decoration: none;
    font-family: 'Lato-Medium', sans-serif;
    border: 2px solid white;
    margin: 20px;
}

.more:hover {
    text-decoration: none;
}